// ------------------ BASE STYLES --------------------- //

*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: $mont;
  font-size: 14px;
  min-height: 200vh;
}
header {
  position: relative;
  display: block;
  overflow: auto;
  background: $grey url('../assets/headerBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 1;
  h1 {
    font-size: 4em;
  }
  h1, h2 {
    text-transform: uppercase;
  }
  h2 {
    transition: color 200ms $inout;
  }
  p {
    font-family: $robo !important;
    font-size: 2em;
    font-weight: 200;
    margin: 1.2em auto;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3em 0;
  width: 100%;
  transition: all 400ms $out;
  z-index: 99;
  &:after {
    content: '';
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: -1;
    transition: all 400ms $out;
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  a {
    position: relative;
    transition: color 200ms $inout;
    text-decoration: none;
    padding: .6em 1.25em;
    margin: 0 .5em 0 0;
    border: 2px solid #ffffff00;
    border-radius: 2em;
    color: #fff;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: #ffffff50;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transition: transform 300ms $out;
      z-index: 0;
    }
    &:hover:after {
      transform: translate(-50%, -50%) scale(8);
    }
  }
}

#nav_burger {
  font-size: 1.2em;
  background: #fff;
  color: $pink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  .wrapper_nav {
    padding: 0;
    display: block;
    width: 100%;
  }
  h2 {
    margin: 0;
  }
  a {
    font-size: 1.15em;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 0;
    color: #aaa;
    font-family: $robo;
    padding: .25em 0; 
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    z-index: -1 !important;
    &:hover {
      background: #efefef;
    }
  }
  ul {
    font-size: .9em;
    transform: translateY(-120%);
    text-align: center;
    padding: 1em 0;
    max-width: 50em;
    width: 100%;
    position: absolute;
    right: 0;
    top: calc(100%);
    background: #fff;
    border-bottom: 2px solid $pink;
    transition: all 100ms $in;
    border-radius: .2em;
    box-shadow: 0 -1em 0 0 #fff;
    z-index: -2 !important;
  }
}
footer {
  border-top: 2px solid $pink;
  padding: 4em 0;
  a {
    position: relative;
    width: fit-content;
    &:after {
      content: '';
      position: absolute;
      bottom: -.25em;
      left: 0;
      background: #ccc;
      width: 0;
      height: 2px;
      transition: width 200ms $out;
    }
    &:hover:after {
      width: 1.5em;
    }
  }
}