// ---------------- GLOBAL VARIABLES ----------------------- //

// COLORS //

$pink: #FF4E50;
$pink_80: #FF4E50af;
$pink_20: #FF4E500f;
$green: #18D4CA;
$orange: #FFA710;
$purple: #667DF3;
$d_grey: #444444;
$grey: #666666;

// FONTS //

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:100');

$mont: 'Montserrat', sans-serif;
$robo: 'Roboto', sans-serif;
